p {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.header-top {
    background-color: red;
    border-bottom: 1px solid;
    color: #fff;
    display: block;
    height: 1.5em;
    margin: 0;
    padding:0;
    border: 0;
    width: 100%;
}

.header-tcontent {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-main {
    width: 100%;
    height: 110px;
    padding: 5px 8px 5px 8px;
    background: #ffecd7;
    border-color: #840705;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
}

.container-fluid {
    margin: 0 12px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

.header-logo {
    box-sizing: border-box;
    height: 40px;
}

.header-logo {
    width: 10%;
}

.header-search {
    position: relative; 
    display: flex;  
    width: auto; 
}

.h-search {
    border-color: #840705;
    border-style: solid;
    border-radius: 30px 0px 21px 0px;
    border-width: 2px;
    box-sizing: border-box;
    padding: 5px 10px 5px 20px;
    position: relative;
    width: 850px;
}

.h-search:hover {
    border-color: #840705;
}

.h-search:focus {
    border: 3px solid #ff0804;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-search {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #f27d7b;
    border-color: #840705;
    margin-left: 800px;
    border-style: solid;
    border-radius: 21px 0px 21px 0px;
}

.icon {
    color: #840705;
}

.icon:hover {
    color: #f27d7b;
}

.header-icon{
    position: relative;
    display: flex;
    width: 15%;
    border-spacing: 10px;
}

.fa-2x {
    font-size: 2rem;
    position: relative;
    display: flex;
    width: auto;
    margin: 0 15px 0 5px;
}

.header-link {
    position: relative;
    display: flex;
}

.header-link1 {
    display: flex;
    position: relative;
    text-align: left;
}

.link-bar {
    margin: 0 10px;
    color: #b70f0a;
    font-family: "Source Sans 3";
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}

.link-rbar {
    position: relative;
    margin-left: 570px;
    text-align: right;
}

.header-link2 {
    display: flex;
    position: absolute;
    text-align: right;
    width: 400px;
    right: 0;
}
